.footer{
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container{
  display: flex;
}

.container-footer-box{
  width: 231px;
  margin-right: 70px;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-decoration: none;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  margin-bottom: 9px;
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.container-logo-footer {
  margin-bottom: 20px;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--background-color);
  margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer-icon-item:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.footer-icon-svg{
  fill:var(--background-color); 
}

.footer-icon{
  padding-top: 12px;
  margin-right: 93px;
}

.online-form{
  padding-top: 12px;
}

.form-box{
  display: flex;
}

.online-input{
  width: 358px;
  height: 50px;
  border: none;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--background-color);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}

.footer-btn-svg{
  fill:var(--background-color); 
  margin-left: 10px;
}