.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-header {
  margin-right: 93px;
}

.logo-first {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content:"";
  position: absolute;
  width: 100%;    
  height: 4px;
  border-radius: 2px;
  background-color:var(--accent-color);
  display: block;
  bottom: 0; 
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container-header {
  display: flex;
}

.container-nav {
  display: flex;
  align-items: center;
}

.header-mail-link,
.header-tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contacts-list {
  display: flex;
}

.header-mail-list .header-tel-list {
  display: flex;
}

.header-tel-list {
  margin-left: 50px;
}

.header-mail-icon,
.header-tel-icon {
  fill: currentColor;
  margin-right: 10px;
}