.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background:var(--background-color);
}

.team-worker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-icon-list {
  @extend %align-items;
  margin-top: 16px;
}

.team-icon-item {
  &:not(:first-child) {
    @extend %align-items;
    margin-left: 10px;
  }
}

.team-icon-svg{
  fill:#AFB1B8; 
}