.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-projects {
  margin-bottom: 50px;
}

.projects-title {
  display: none;
}

.projects-list {
  display: flex;
  justify-content: center;
}

.projects-link {
  margin-left: 8px;
  padding: 6px 22px;
}

.btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  border-radius: 4px;
  border: none;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
    cursor: pointer;
    border: none;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work-wrapper {
  position: relative;
  overflow: hidden;
}

.work-text{
  position: absolute;
  top: 0; 
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  bottom: 0;
  color:var(--background-color);
  background-color:rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item {
  display: block;
  flex-basis: calc(100% / 3 - 30px);
  background: #ffffff;
  box-sizing: border-box;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  &:hover,
  &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    & .work-text{
      transform: translateY(0);
    }
  }
}

.work-border {
  display: block;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.company-work {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-picture.no-gap{
  display: block;
} 
