.footer-icon-link{
  @extend %align-items;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  &:hover,
  &:focus{
    background-color: var(--accent-color);
  }
  & .footer-icon-svg,
  & .footer-icon-svg{
    fill:var(--background-color); 
  }
}