.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease ; 
  &.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
    .modal{
    transform: scale(3) rotate(360deg) ;
    }
  }
}

.modal{
  min-width: 528px;
  min-height: 581px;
  position: relative;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease;
  padding: 40px;
}

.btn-close{
  right: 8px;
  top: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  &:hover .modal-close-icon,
  &:focus .modal-close-icon {
  fill: var(--accent-color);
  }
}

.modal-close-icon{
  fill: #000000;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--primary-title-color);
  margin-bottom: 12px;
}

.modal-field{
  margin-bottom: 10px;
}

.label-text{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color:var(--secondary-color);
  display: block;
  margin-bottom: 4px;
}

.input-wrapper{
  display: block;
  position: relative;
}

.modal-input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: transparent;
  outline: none;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
    border-color: var(--accent-color);
  }
  &:focus + .input-icon{
    fill:var(--accent-color);
  }
}

.input-icon{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%); 
}

.modal-text-input{
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  &:focus{
    border-color: var(--accent-color);
  }
}

textarea::placeholder{
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
    span{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms; 
    animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  } 
} 

.check-link{
  color: var(--accent-color);
  text-decoration-skip-ink: none;
  transition-duration: 250ms; 
  animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  &:checked + .checkbox-text span{
    background-color: var(--accent-color);
    border: none;
  }
}

.checkbox-block{
  display: flex;
  justify-content: center;
}

.modal-btn{
  display: block;
  margin: 0 auto;
}