.team-icon-link{
  @extend %align-items;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  &:hover,
  &:focus{
    background-color: var(--accent-color); 
    & .team-icon-svg,
    & .team-icon-svg{
      fill:var(--background-color); 
    }
  }
}

